.cvContainer{
background-color:white;
width: 60vw;
margin-left:20vw;
border:4px solid rgb(19, 186, 216);
border-radius: 15px;
padding: 7px;
}

.backGround{
    top:0;
    z-index: -1;
    background-color:#4dd0e1;
    background-image: url(https://static-cse.canva.com/_next/static/assets/wave.2881x801.e3004027281d91aea8440556fa84fbfd.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 800px;
}

.cvContainer button{
    outline: none;
    width: 130px;
    height: 40px;
    padding: 3px;
    border-radius: 10px;
    font-size: large;
    border:none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 2px 8px rgb(19, 186, 216);

}

.btnEdit{
    margin-left:36%;
    margin-right: 15px;
    background-color:rgb(19, 186, 216);
    color:aliceblue;
    
}
.btnPreview{
    background-color:aliceblue;
    color:rgb(19, 186, 216);
}


