.personalDetails{
    display: flex;
    flex-direction: column;
    height:400px;
    justify-content: space-between;
}
.personalHeader{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.personalDetails input{
    border-color:black;
    border-width:0px 0px 2px 0px;
    background: transparent;
    margin: 10px;
    outline: none;
    height: 40px
}

.personalDetails textarea{
    margin: 10px;
    height: 50px;
}

